<ion-header [translucent]="true">
  <ion-toolbar> 
    
    <ion-buttons slot="start">
    <ion-button (click)="updateFlightNumbers()" color="dark" fill="outline" strong="true">Refresh</ion-button>
    <! -- these buttons left in for testing -->
    <ion-button (click)="mapAirportFlights()" disabled="true" color="secondary">Map</ion-button>
    <ion-button (click)="reduceAirportFlights()" disabled="true" color="secondary">Reduce</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Airports</ion-title>
  </ion-toolbar>
  </ion-header>
    <ion-list>
<ion-item-sliding *ngFor="let airport of airports" >
<ion-item >
<ion-label>
  {{airport.name}}
</ion-label>
<ion-label>
  {{airport.code}}
</ion-label>
<ion-label>
  {{airport.numFlights}}
</ion-label>
</ion-item>
</ion-item-sliding>
</ion-list>

 

 
</ion-content>
